<mat-dialog-content>
  <h1 mat-dialog-title>{{dialogTitle}}</h1>
  <mat-form-field appearance="fill">
    <mat-label> название</mat-label>
    <input #inputTitle matInput [(ngModel)]="tmpTitle" (keydown.enter)="onConfirm()">
    <button *ngIf="tmpTitle" mat-button matSuffix mat-icon-button aria-label="clear" (click)="tmpTitle=''"
      class="size-button">
      <!-- <button *ngIf="tmpTitle.trim().length > 0" mat-button matSuffix mat-icon-button aria-label="clear"(click)="tmpTitle=''" class="size-button"> -->
      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>
</mat-dialog-content>

<mat-form-field>
  <mat-label> Укажите категорию</mat-label>
  <mat-select [(ngModel)]="tmpCategory">
    <mat-option [value]="null">Без категории</mat-option>
    <mat-option *ngFor="let cat of categories" [value]="cat">{{cat.title}}</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-label> Укажите приоритет</mat-label>
  <mat-select [(ngModel)]="tmpPpriority">
    <mat-option [value]="null">Без приоритета</mat-option>
    <mat-option *ngFor="let prior of priorities" [value]="prior">{{prior.title}}</mat-option>
  </mat-select>
</mat-form-field>

<!-- Calendar -->

<mat-form-field>
  <input matInput placeholder="Укажите срок выполнения" #inputDate readonly="true" [matDatepicker]="picker"
    [(ngModel)]="tmpDate" (click)="picker.open()">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
  <button *ngIf="inputDate.value.trim().length > 0" mat-button matSuffix mat-icon-button aria-label="clear"
    (click)="tmpDate = null" class="size">
    <mat-icon>clear</mat-icon>
  </button>
</mat-form-field>

<mat-dialog-actions>
  <button class="but" mat-button mat-raised-button color="primary" (click)="onConfirm()"
    [disabled]="inputTitle.value.trim().length==0">Сохранить </button>
  <button mat-button mat-raised-button (click)="onCancel()">Отмена</button>
  <button mat-button mat-raised-button class="red" (click)="delete()">Удалить з</button>
  <button mat-button mat-raised-button class="green" *ngIf="!task.complited && canActivateDesactivate()"
    (click)="complete()">Завершитьзадачу</button>
  <button mat-button mat-raised-button class="green" *ngIf="task.complited && canActivateDesactivate()"
    (click)="activate()">Активировать</button>
</mat-dialog-actions>